
<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-01-01 RC3</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1255'>FLX-1255</a>] -         flx-info freq shows 8 channels for FLX709
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1263'>FLX-1263</a>] -         duplicated data in felixcore/netio
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1267'>FLX-1267</a>] -         Default port on netio-cat should be 53100
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1278'>FLX-1278</a>] -         felix-star doesn not read configured elinks correctly
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1281'>FLX-1281</a>] -         Netio stability and exception handling
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1286'>FLX-1286</a>] -         felixcore -m and -M option do not change RAM usage -&gt; add option to setup memory for buffer
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1296'>FLX-1296</a>] -         exec function crashes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1297'>FLX-1297</a>] -         felix-client slower in GBT mode
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1298'>FLX-1298</a>] -         felix-client: No data and felix-star gets stuck when running multiple clients
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1306'>FLX-1306</a>] -         felix-star unbuffered not getting data after multiple resubscriptions
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1318'>FLX-1318</a>] -         felix-star not detecting IC/EC/AUX links
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1319'>FLX-1319</a>] -         Default for --bus-out on felix-toflx is wrong
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1342'>FLX-1342</a>] -         felix-tohost from master segfaults?!
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1357'>FLX-1357</a>] -         felix-client-thread is missing from distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1361'>FLX-1361</a>] -         elink table init has wrong indexes for fullmode
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-877'>FLX-877</a>] -         DAQ traffic needs buffering in case of Busy, to handle DCS
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1158'>FLX-1158</a>] -         Logical ID to Felix ID conversion
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1292'>FLX-1292</a>] -         Add -t option to test swrod to subscribe to specific elinks
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1293'>FLX-1293</a>] -         LogicalID lookup library, returns FID, and vice versa
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1294'>FLX-1294</a>] -         Add a test-swrod utility that uses felix-interface
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1371'>FLX-1371</a>] -         Integrate tests for netio-next, felix-client and felix-star
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-702'>FLX-702</a>] -         Upgrade cmake from 3.4.3 to 3.8.1 for usage with c++17
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-946'>FLX-946</a>] -         Specification of E-link/stream subscription by logical name
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1081'>FLX-1081</a>] -         Updates to user documentation for next release
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1082'>FLX-1082</a>] -         Add full documentation for felix-star to user manual
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1116'>FLX-1116</a>] -         Update Software Specification and Implementation Web Page for felix-star/netio-next
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1271'>FLX-1271</a>] -         felix-star is not sending data to YARR
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1273'>FLX-1273</a>] -         tdaq-compatible cmake file for netio-next
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1289'>FLX-1289</a>] -         Tag latest felixbus and use in TDAQ release
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1291'>FLX-1291</a>] -         Add option to offset elinks (in the old compatible way)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1307'>FLX-1307</a>] -         Add documentation for felix-interface
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1359'>FLX-1359</a>] -         Add unbuffered tests for felix-star tohost
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1369'>FLX-1369</a>] -         Upgrade supervisord from 4.1.0 to 4.2.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1373'>FLX-1373</a>] -         Setup flags to include gdb debug info in all libraries
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1222'>FLX-1222</a>] -         felix-client unbuffered_send allocates fixed buffer
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1259'>FLX-1259</a>] -         Merge RM-4.10
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1268'>FLX-1268</a>] -         Modify config to const in felix-interface
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1269'>FLX-1269</a>] -         felix-client subscribe should throw exception after timeout
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1299'>FLX-1299</a>] -         Memory usage of felixcore (too high)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1305'>FLX-1305</a>] -         Add elink field to verbose output of felix-fid
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1309'>FLX-1309</a>] -         Add -t --tag option to specify elinks to publish for felix-file2host
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1311'>FLX-1311</a>] -         Fid and elinks on command line should allow hex values
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1320'>FLX-1320</a>] -         felix-toflx should read card to enable and publish corresponding channels
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1321'>FLX-1321</a>] -         Add test for test-swrod using bus
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1328'>FLX-1328</a>] -         Add test with toflx2file and send_to_flx
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1329'>FLX-1329</a>] -         Add a test for multiple subscribers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1330'>FLX-1330</a>] -         Make tests in felix-client run automatically
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1336'>FLX-1336</a>] -         Make netio memory reduction a parameter on felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1338'>FLX-1338</a>] -         Protect multiple calls to connect and disconnect
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1343'>FLX-1343</a>] -         Add unittests to felix software project
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1348'>FLX-1348</a>] -         docopt (c++) should convert longs from strings in hex format if needed
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1353'>FLX-1353</a>] -         Protect toflx sending against payloads with an odd number of bytes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1360'>FLX-1360</a>] -         Check on missing libraries for binaries has false positives
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1366'>FLX-1366</a>] -         Dual socket default configuration: HT and LL
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1372'>FLX-1372</a>] -         Handle invalid value for &quot;local_ip_or_interface&quot;
</li>
</ul>

<h2>        Question
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1112'>FLX-1112</a>] -         felixcore blocking TOHOST data
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1282'>FLX-1282</a>] -         Felixbus in master not compatible with the one in tdaq-09-01-00?
</li>
</ul>


<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-01-00</h1>

<h2>        Sub-task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1010'>FLX-1010</a>] -         Support 640Mb/s elinks in elinkconfig and feconf (internal emulator) with new elink format
</li>
</ul>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-663'>FLX-663</a>] -         New TTCfx Cards Indicate Errors on two configuration registers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-781'>FLX-781</a>] -         Histograms fill unlikely edge case senario segfault
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-915'>FLX-915</a>] -         QT 5 find wrong FreeType library
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-930'>FLX-930</a>] -         Keyboard driver not found in LCG for Qt
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-995'>FLX-995</a>] -         Felix-star fullmode crashes with two PCI endpoints
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1024'>FLX-1024</a>] -         Some minor incompatibilities due to new DevID
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1032'>FLX-1032</a>] -         Missing libGLX and libGLdispatch
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1033'>FLX-1033</a>] -         flx-init not properly resetting mini-pods
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1079'>FLX-1079</a>] -         fdaq crashes / PC reboots
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1084'>FLX-1084</a>] -         Duplicate JSON Entry in felix-star statistics
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1117'>FLX-1117</a>] -         flx-info should double the value of NUM_OF_CHANNELS
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1137'>FLX-1137</a>] -         netio-next publishing application does not work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1151'>FLX-1151</a>] -         Correct Elink to LinkID and TransportID conversion and vice versa
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1185'>FLX-1185</a>] -         Unsubscribe throws exception via destructor
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1191'>FLX-1191</a>] -         Errors in send/recv with multiple clients
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1197'>FLX-1197</a>] -         Examples send and recv do not work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1199'>FLX-1199</a>] -         On heavy load certain callbacks are never executed by the eventloop
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1206'>FLX-1206</a>] -         Segfault when disconnecting subscription while publisher runs on
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1244'>FLX-1244</a>] -         felix-star segfaults (fixed), followed by lack of received data upon re-subscription
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1247'>FLX-1247</a>] -         Event rate dropping to zero with swrod
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1255'>FLX-1255</a>] -         flx-info freq shows 8 channels for FLX709
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-141'>FLX-141</a>] -         all software tools with long and short options, unified
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-475'>FLX-475</a>] -         NetIO: Test coverage analysis
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-543'>FLX-543</a>] -         Felixcore crashes when it receives bad TTC2host data
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-590'>FLX-590</a>] -         Implement stream handling in Firmware + FelixCore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-593'>FLX-593</a>] -         Implement a Link configuration module
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-864'>FLX-864</a>] -         Implement Full Mode in Event Driven Scheme
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-865'>FLX-865</a>] -         Add a Virtual Error E-Link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-866'>FLX-866</a>] -         Add a Virtual Busy E-link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-868'>FLX-868</a>] -         Command line for felix-star may need subcommands
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-869'>FLX-869</a>] -         Integrate event-driven version of felix core as felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-870'>FLX-870</a>] -         Implement E-Link streams
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-872'>FLX-872</a>] -         Specify and implement error handling
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-873'>FLX-873</a>] -         Felix Bus needs a proper API
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-875'>FLX-875</a>] -          Update Specs and Implementation document for FelixCore/FelixBus and NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-878'>FLX-878</a>] -         Specify DCS Error Reporting
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-879'>FLX-879</a>] -         Implement event-driven monitoring
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-880'>FLX-880</a>] -         Run Random Trigger Test
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-894'>FLX-894</a>] -         Implement a toFlx event-driven (DCS) writer process in felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-895'>FLX-895</a>] -         Add an event-driven busy process to felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-933'>FLX-933</a>] -         Add virtual Monitoring E-link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-940'>FLX-940</a>] -         Create Python interface for NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-949'>FLX-949</a>] -         Add file2elink
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-950'>FLX-950</a>] -         Adjust supervisord files in etc to make them user independent
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-981'>FLX-981</a>] -         File reader for felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1020'>FLX-1020</a>] -         Readout streamID bit-per-link and broadcast streamIDs
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1030'>FLX-1030</a>] -         Update driver to 4.0.7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1091'>FLX-1091</a>] -         Add callback API for socket problems, disconnect etc
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1092'>FLX-1092</a>] -         Add command line FelixID &lt;-&gt; CID, TID, ... converter, felix-fid
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1122'>FLX-1122</a>] -         Add TTC counters to a new option in flx-info
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1141'>FLX-1141</a>] -         Data header in felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1144'>FLX-1144</a>] -         Add TTC2H to felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1150'>FLX-1150</a>] -         Felix-watchdog, see FLXUSER-241
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1152'>FLX-1152</a>] -         Felix-star: buffered full-mode (i.e. no RDMA, similar to GBT)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1194'>FLX-1194</a>] -         Delayed reposting of buffers after cb_msg_received
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-617'>FLX-617</a>] -         FELIG: add software control tools for all our G(enerators)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-694'>FLX-694</a>] -         Add gcc8 compiler
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-740'>FLX-740</a>] -         Update flx-tools to read link alignment in regmap 4
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-876'>FLX-876</a>] -         Fix and Update User Guide for FelixCore/FelixBus and NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-898'>FLX-898</a>] -         Remove automatic tag building for all projects except software
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-902'>FLX-902</a>] -         Upgrade to LCG 94, gcc8
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-906'>FLX-906</a>] -         Integrate felix-star into distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-907'>FLX-907</a>] -         Filter to protect against runaway data
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-908'>FLX-908</a>] -         Specify subdetector link mapping (Global FELIX ID)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-916'>FLX-916</a>] -         Add supervisor package as external and its dependent packages (meld3, setuptools)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1011'>FLX-1011</a>] -         rd_pointer value in felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1067'>FLX-1067</a>] -         Upgrade to LCG 96, gcc8, drop slc6
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1075'>FLX-1075</a>] -         Remove obsolete registers from rm-4.9
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1104'>FLX-1104</a>] -         Create fttcemu tool to control the internal TTC emulator in FELIX
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1179'>FLX-1179</a>] -         Quick once off test of the generated new rpm
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-581'>FLX-581</a>] -         Felixcore support multiple DCS commands at once
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-681'>FLX-681</a>] -         FELIX elinks should be configured from elinkconfig file
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-732'>FLX-732</a>] -         flx-info should be RM independent, as far as possible and display info
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-882'>FLX-882</a>] -         Update driver to 4.0.5
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-890'>FLX-890</a>] -         Obsolete parameters in gbt_setup and gbt_rx_configuration
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-892'>FLX-892</a>] -         flx-monitor POD
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-912'>FLX-912</a>] -         Upgrade catch from 1.2.1 to 2.6.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-914'>FLX-914</a>] -         cmake_config should use previously setup tag
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-929'>FLX-929</a>] -         netio-next: a flooded FD never returns to the event loop
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-939'>FLX-939</a>] -         pyc files are may be modified at run time, preventing git pull from doing its job
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-964'>FLX-964</a>] -         Move from /bin/sh to /bin/bash
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-966'>FLX-966</a>] -         Create python interface for FelixBus
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-967'>FLX-967</a>] -         Connect felix-star to bus via file and inotify
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-975'>FLX-975</a>] -         Add ci to data_transfer_tools and run flake8 over it
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1006'>FLX-1006</a>] -         Add MiniPOD reset as default operation in felix-init
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1074'>FLX-1074</a>] -         Felix Bus should not unset signal handlers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1119'>FLX-1119</a>] -         Add flx-info LINK option as alias to flx-info GBT
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1146'>FLX-1146</a>] -         FELIX Client Layer (c++), needs FLX-1147, requested by FLXUSERS-285
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1147'>FLX-1147</a>] -         Add type (buf/unbuf) and page params to felixbus result
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1157'>FLX-1157</a>] -         Felix-watchdog should use fid.h from felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1167'>FLX-1167</a>] -         Low-latency Exception handler missing
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1168'>FLX-1168</a>] -         Traceback for Statistics Webserver
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1189'>FLX-1189</a>] -         netio-next on_init() callback needs a data pointer as argument
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1196'>FLX-1196</a>] -         epoll wait should timeout to see stop flag
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1207'>FLX-1207</a>] -         Add buffered send and recv examples
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1208'>FLX-1208</a>] -         Add buffered mode to to-flx in felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1211'>FLX-1211</a>] -         felixbus client needs to wait for first info
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1212'>FLX-1212</a>] -         To-flx should have a buffered mode
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1214'>FLX-1214</a>] -         Put truncation options more prominently in Elinkconfig
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1220'>FLX-1220</a>] -         logging looks strange
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1223'>FLX-1223</a>] -         to_flx_header resides in felix-star and in felix-client
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1225'>FLX-1225</a>] -         Add option to allocate megabytes for CMEM rather than Gbytes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1232'>FLX-1232</a>] -         Updates, Bugfixes and Improvements after RC1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1234'>FLX-1234</a>] -         Updates, Bugfixes and Improvements after RC3
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1235'>FLX-1235</a>] -         upgrade to LCG_97 upgrade to c++17
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1236'>FLX-1236</a>] -         fatcat needs an --interface option to set the bus interface
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1238'>FLX-1238</a>] -         Updates, Bugfixes and Improvements after RC5
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1249'>FLX-1249</a>] -         Updates, Bugfixes and Improvements after RC6/RC7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1251'>FLX-1251</a>] -         Adjust names in felix-bus-list
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1252'>FLX-1252</a>] -         fflash should staticly link to gcc and to stdc++
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1253'>FLX-1253</a>] -         Add --fastest option in felix-get-ip
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1256'>FLX-1256</a>] -         Setup proper supervisord files for user
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1257'>FLX-1257</a>] -         Proper CMEM deallocation by felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1258'>FLX-1258</a>] -         Add -E option to flx-reset to allow reset while other process is locking the card
</li>
</ul>

<h2>        Patch
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1193'>FLX-1193</a>] -         [PATCH] Fix on_init initialization in examples
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1195'>FLX-1195</a>] -         Fixed errors and warnings when compiling with -DTEST_IT
</li>
</ul>

<h2>        Question
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-716'>FLX-716</a>] -         Fragment Status Information in FELIX header
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1112'>FLX-1112</a>] -         felixcore blocking TOHOST data
</li>
</ul>

<h2>        Suggestion
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-888'>FLX-888</a>] -         Use of the &quot;-d&quot; parameter in flxcard
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-889'>FLX-889</a>] -         flx-info SFP
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1064'>FLX-1064</a>] -         How to use Felix Bus API?
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-00-09</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1093'>FLX-1093</a>] -         netio seems leaking file descriptors on
low_latency_subscribe_socket after subscribe() and unsubscribe()
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1094'>FLX-1094</a>] -         IC-Over-NetIO Inconsistencies - felixcore Issue?
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1095'>FLX-1095</a>] -         Greedy CPU usage with felix 4.0.8
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1096'>FLX-1096</a>] -         LAr-felixcore memory leak with OpcUaSca
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-00-08
</h1>
<h2>        Bug
</h2>
<ul>
<li>[] -         Driver 4.0.7 compatiblity fix
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-00-06
</h1>
<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-781'>FLX-781</a>] -         Histograms fill unlikely edge case senario segfault
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-915'>FLX-915</a>] -         QT 5 find wrong FreeType library
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1024'>FLX-1024</a>] -         Some minor incompatibilities due to new DevID
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1032'>FLX-1032</a>] -         Missing libGLX and libGLdispatch
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-295'>FLX-295</a>] -         FELIXCore: Simplify queues for histogram graphs and tables
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-593'>FLX-593</a>] -         Implement a Link configuration module
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-864'>FLX-864</a>] -         Implement Full Mode in Event Driven Scheme
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-865'>FLX-865</a>] -         Add a Virtual Error E-Link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-866'>FLX-866</a>] -         Add a Virtual Busy E-link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-867'>FLX-867</a>] -         Add web server for felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-868'>FLX-868</a>] -         Command line for felix-star may need subcommands
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-869'>FLX-869</a>] -         Integrate event-driven version of felix core as felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-870'>FLX-870</a>] -         Implement E-Link streams
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-872'>FLX-872</a>] -         Specify and implement error handling
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-873'>FLX-873</a>] -         Felix Bus needs a proper API
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-874'>FLX-874</a>] -         Felix Mon should be made up to date and subscribe to multi-web servers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-875'>FLX-875</a>] -          Update Specs and Implementation document for FelixCore/FelixBus and NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-876'>FLX-876</a>] -         Fix and Update User Guide for FelixCore/FelixBus and NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-877'>FLX-877</a>] -         DAQ traffic needs buffering in case of Busy, to handle DCS
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-878'>FLX-878</a>] -         Specify DCS Error Reporting
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-879'>FLX-879</a>] -         Implement event-driven monitoring
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-880'>FLX-880</a>] -         Run Random Trigger Test
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-894'>FLX-894</a>] -         Implement a toFlx event-driven (DCS) writer process in felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-895'>FLX-895</a>] -         Add an event-driven busy process to felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-931'>FLX-931</a>] -         Bridge Error E-link to ATLAS ERS
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-932'>FLX-932</a>] -         Bridge Monitoring E-link to ATLAS Monitoring System (IS)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-933'>FLX-933</a>] -         Add virtual Monitoring E-link
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-940'>FLX-940</a>] -         Create Python interface for NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-949'>FLX-949</a>] -         Add file2elink
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-950'>FLX-950</a>] -         Adjust supervisord files in etc to make them user independent
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-981'>FLX-981</a>] -         File reader for felix-star
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1020'>FLX-1020</a>] -         Readout streamID bit-per-link and broadcast streamIDs
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1030'>FLX-1030</a>] -         Update driver to 4.0.7
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-694'>FLX-694</a>] -         Add gcc8 compiler
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-765'>FLX-765</a>] -         Implement 32b trailer format for JumboBlock (ProtoDUNE) in software
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-898'>FLX-898</a>] -         Remove automatic tag building for all projects except software
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-902'>FLX-902</a>] -         Upgrade to LCG 94, gcc8
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-906'>FLX-906</a>] -         Integrate felix-star into distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-907'>FLX-907</a>] -         Filter to protect against runaway data
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-908'>FLX-908</a>] -         Specify subdetector link mapping (Global FELIX ID)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-916'>FLX-916</a>] -         Add supervisor package as external and its dependent packages (meld3, setuptools)
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-581'>FLX-581</a>] -         Felixcore support multiple DCS commands at once
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-681'>FLX-681</a>] -         FELIX elinks should be configured from elinkconfig file
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-882'>FLX-882</a>] -         Update driver to 4.0.5
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-890'>FLX-890</a>] -         Obsolete parameters in gbt_setup and gbt_rx_configuration
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-891'>FLX-891</a>] -         flx-init -G
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-892'>FLX-892</a>] -         flx-monitor POD
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-912'>FLX-912</a>] -         Upgrade catch from 1.2.1 to 2.6.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-914'>FLX-914</a>] -         cmake_config should use previously setup tag
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-919'>FLX-919</a>] -         Add defaults to the PDF and HTML documentation on the registermap
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-939'>FLX-939</a>] -         pyc files are may be modified at run time, preventing git pull from doing its job
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-964'>FLX-964</a>] -         Move from /bin/sh to /bin/bash
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-966'>FLX-966</a>] -         Create python interface for FelixBus
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-967'>FLX-967</a>] -         Connect felix-star to bus via fifo
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-975'>FLX-975</a>] -         Add ci to data_transfer_tools and run flake8 over it
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-1006'>FLX-1006</a>] -         Add MiniPOD reset as default operation in felix-init
</li>
</ul>

<h2>        Question
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-716'>FLX-716</a>] -         Fragment Status Information in FELIX header
</li>
</ul>

<h2>        Suggestion
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-888'>FLX-888</a>] -         Use of the &quot;-d&quot; parameter in flxcard
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-889'>FLX-889</a>] -         flx-info SFP
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-00-04</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-342'>FLX-342</a>] -         Improvements of the monitoring JSON API
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-736'>FLX-736</a>] -         flx-monitor swapping tx/rx minipods
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-769'>FLX-769</a>] -         felix-client can crash in RDMA mode when many clients are started at the same time
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-793'>FLX-793</a>] -         FelixCore crashes when too many E-Links are assigned in --elinks
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-804'>FLX-804</a>] -         User Manual pages not updated after commit
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-805'>FLX-805</a>] -         Bibliography not updated for User Manual
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-811'>FLX-811</a>] -         felixbus segfaults during stop sequence
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-822'>FLX-822</a>] -         Web version of user manual doesn&#39;t open properly in Internet Explorer.
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-824'>FLX-824</a>] -         Do not set LD_LIBRARY_PATH in rpm setup
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-847'>FLX-847</a>] -         flx-info si5345 text output, flx-init
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-881'>FLX-881</a>] -         feconf internal emulator generation seems inconsistent with elinkconfig for 2b elinks
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-287'>FLX-287</a>] -         HDLC high level encoding and decoding
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-384'>FLX-384</a>] -         Implement block file generator tool
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-837'>FLX-837</a>] -         New additions to ftools: fscaadc, fscadac, fscaid
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-784'>FLX-784</a>] -         Upgrade driver to 4.0.3
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-780'>FLX-780</a>] -         Enchance the performance of the statistics module of felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-825'>FLX-825</a>] -         User Manual should also publish 3.x branch
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-826'>FLX-826</a>] -         User Manual [pdf] should be called felix-user-manual and not total.pdf
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-827'>FLX-827</a>] -         Documentation tools should be maintainable
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-828'>FLX-828</a>] -         User Manual PDF should open in new TAB/Window not in frame
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-831'>FLX-831</a>] -         asciidoc documentation tool improvements
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-834'>FLX-834</a>] -         Add --no-pdf option to documentation-tool
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-836'>FLX-836</a>] -         Tools --help should be included into User Manual automatically
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-839'>FLX-839</a>] -         Add version number to manual, like in website
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-04-00-00</h1>

<h2>        Sub-task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-420'>FLX-420</a>] -         Register Map 4.0 yaml file: firmware side
</li>
</ul>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-366'>FLX-366</a>] -         Offset in elinks for FLX-711 to be removed when firmware has this feature
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-398'>FLX-398</a>] -         NetIO POSIX backend does too many peer hostname lookups
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-410'>FLX-410</a>] -         flx-irq-test throws exception
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-445'>FLX-445</a>] -         Warning on felix-mon
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-455'>FLX-455</a>] -         Add support Scientific Linux non-CERN (SL6) to FELIX builds
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-497'>FLX-497</a>] -         Earlier versions of our stand-alone CVMFS contain absolute paths
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-512'>FLX-512</a>] -         Pthread necessary on centos7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-554'>FLX-554</a>] -         Software Data Generator Segfault due to E-link array overrun
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-566'>FLX-566</a>] -         libGL and libglapi (and other system libs copied) should not be prelink-ed
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-567'>FLX-567</a>] -         Large messages to E-links have broken encoding
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-589'>FLX-589</a>] -         NetIO Memory Leaks
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-592'>FLX-592</a>] -         NetIO max. buffer pages is hardcoded and does not use the sockcfg module
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-605'>FLX-605</a>] -         Upload of single data chunk in two DMAs results in a single byte lost
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-620'>FLX-620</a>] -         FULL mode: operating the VC-709 Emu
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-640'>FLX-640</a>] -         NetIO performance drop
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-641'>FLX-641</a>] -         NetIO does not properly close connections
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-688'>FLX-688</a>] -         Circular buffer is ambiguous when full
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-706'>FLX-706</a>] -         elinkconfig in LCG_93 misses libxkbcommon
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-707'>FLX-707</a>] -         Web Display Threads display (histo) does not work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-712'>FLX-712</a>] -         flx-info and /proc/flx needs cleanup
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-713'>FLX-713</a>] -         Missing libXdamage.so.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-722'>FLX-722</a>] -         elinkconfig fails to work with LCG_93
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-741'>FLX-741</a>] -         elink fupload config has changed, test no longer compiles
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-750'>FLX-750</a>] -         FromHost: Byte 31 and 32 padded with constant when message is &gt; 26 bytes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-751'>FLX-751</a>] -         Sequence number gets reset when TTC command is initiated
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-753'>FLX-753</a>] -         Signature (block header) in block not found, lost sync with card
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-767'>FLX-767</a>] -         FelixCore fails with RDMA when too many clients connect at the same time
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-768'>FLX-768</a>] -         E-Link range in web display is not correct when some cards are disabled
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-769'>FLX-769</a>] -         felix-client can crash in RDMA mode when many clients are started at the same time
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-776'>FLX-776</a>] -         NetIO: Some file descriptors left open after connection closes in NetIO with fi_verbs backend
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-778'>FLX-778</a>] -         Typo in data_genarator creates problem with felix-web-mon
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-142'>FLX-142</a>] -         all software tools with autocompletion
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-285'>FLX-285</a>] -         FELIXCore: re-synch when TLP is missing, signature not found
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-394'>FLX-394</a>] -         BNL-711 PCIe FPGA remote reconfiguration tool (aka the &quot;Bnl-Bit-Banger&quot;)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-399'>FLX-399</a>] -         Reduce the number of memcpy on the NetIO receiving side
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-409'>FLX-409</a>] -         flxcard should check TLP and transfer size in DMA calls
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-416'>FLX-416</a>] -         Move to gcc62
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-446'>FLX-446</a>] -         Use docopt for felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-447'>FLX-447</a>] -         Use docopt for buslist
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-448'>FLX-448</a>] -         distribution build should fail if the setup is incorrect
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-449'>FLX-449</a>] -         Add felix-buslist to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-450'>FLX-450</a>] -         femu: a tool to enable only the Emus
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-454'>FLX-454</a>] -         NetIO subscribe sockets need an unsubscribe/disconnect
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-457'>FLX-457</a>] -         Zero-copy mode for netio::recv_socket
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-472'>FLX-472</a>] -         Full mode support in felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-482'>FLX-482</a>] -         We need two toFlx channels for the BNL-711/712
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-487'>FLX-487</a>] -         Missing QT lib in gcc62 distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-491'>FLX-491</a>] -         Include TTC tools (binary) and dependencies into distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-544'>FLX-544</a>] -         Felixcore sends out corrupted chunks in backpressure situations
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-560'>FLX-560</a>] -         setup.sh does not set LD_LIBRARY_PATH
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-629'>FLX-629</a>] -         monitoring tool for cmem_rcc
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-704'>FLX-704</a>] -         Recognize the 712 card
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-719'>FLX-719</a>] -         Histogram to show # of blocks transferred per interrupt
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-723'>FLX-723</a>] -         Add QT 5.6.0 from LCG87 to felix-cvmfs
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-757'>FLX-757</a>] -         Default compilation and build should be Centos 7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-761'>FLX-761</a>] -         New DMA function in FlxCard API
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-763'>FLX-763</a>] -         Accessing FLX card 2 in FelixCore segfaults
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-779'>FLX-779</a>] -         Add fdaqm to distribution
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-72'>FLX-72</a>] -         netio sockets should set SO_KEEPALIVE
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-160'>FLX-160</a>] -         Port software to Register Map 4.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-182'>FLX-182</a>] -         Checkup all TDAQ commands for CMAKE
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-224'>FLX-224</a>] -         Rename fdaq directory to ftools
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-291'>FLX-291</a>] -         Infrastructure: Arrange permissions (read/push) for people on gitlab, by egroup
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-353'>FLX-353</a>] -         Auto set PACKAGE_VERSION in CMakeLists.txt
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-356'>FLX-356</a>] -         Felixcore does not measure throughput for low-latency connections
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-385'>FLX-385</a>] -         Gitlab CI for NetIO
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-453'>FLX-453</a>] -         Cleanup and lint wuppercodegen
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-471'>FLX-471</a>] -         Update system for GITLAB-CI 9.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-587'>FLX-587</a>] -         Port ToFLX module to BNL-711
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-599'>FLX-599</a>] -         Move jobs to gitlab and FELIX VM
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-637'>FLX-637</a>] -         Publish bitfiles for emulators on website
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-638'>FLX-638</a>] -         Merge FELIG register map with FELIX register map
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-649'>FLX-649</a>] -         FULL-mode Emu: port to BNL-711 v1.5
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-693'>FLX-693</a>] -         Upgrade to LCG_93
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-695'>FLX-695</a>] -         Upgrade SimpleWebServer to 2.1.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-696'>FLX-696</a>] -         Automate creation of cvmfs-felix tar file and publication
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-697'>FLX-697</a>] -         Upgrade to spdlog 0.17.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-698'>FLX-698</a>] -         Upgrade ZeroMQ to 4.1.6 and depend on LCG_93
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-700'>FLX-700</a>] -         Remove dependency from felixbus and felixbase, catch and spdlog
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-701'>FLX-701</a>] -         Upgrade JSON to version 3.2.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-721'>FLX-721</a>] -         Add netio-cat to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-743'>FLX-743</a>] -         Make tagged versions get same tag for dependencies
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-764'>FLX-764</a>] -         FLX709_GBT_RM0403_4CH_CLKSELECT_GIT_RevertFromHost3_rm-4.3_59_180724_15_15.tar.gz needs testing
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-92'>FLX-92</a>] -         FlxCard dma methods need a different name
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-267'>FLX-267</a>] -         Registers.pdf cannot be generated with latex
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-273'>FLX-273</a>] -         Use libnuma to pin threads to specific cores
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-282'>FLX-282</a>] -         FELIXCore: add history call for the graphs
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-283'>FLX-283</a>] -         FELIXCore: webpage table, graph and histogram parts should use templates
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-286'>FLX-286</a>] -         FELIXCore: If felixcore started from /afs/... the webdirectory does not seem to work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-290'>FLX-290</a>] -         Scripts: Remove errors of existing dirs that clone_all.sh gives
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-293'>FLX-293</a>] -         FELIXCore: put proper ip address in client.sh script, currently fixed on felix-02
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-299'>FLX-299</a>] -         FELIXCore: Run with interrupts
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-367'>FLX-367</a>] -         Remove emulator code
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-372'>FLX-372</a>] -         Executables fail with Segmentation Fault on centos7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-381'>FLX-381</a>] -         Use RwBlockQueue instead of ConcurrentBlockQueue for FLX-711
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-432'>FLX-432</a>] -         Revise felixcore application parameters
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-458'>FLX-458</a>] -         Update felixcore and others to use drivers-2.0.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-469'>FLX-469</a>] -         multiple default values in yaml array when bitfields are used
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-513'>FLX-513</a>] -         Remove hard 4GB limit in fdaq
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-514'>FLX-514</a>] -         fdaq does not write all buffered data to disk when buffer &gt; 1GB
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-531'>FLX-531</a>] -         setup.sh can be found on PATH
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-540'>FLX-540</a>] -         software &quot;lock&quot; for FLX cards
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-582'>FLX-582</a>] -         Split off felixbus client into separate package
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-583'>FLX-583</a>] -         Make proper use of FindPackage in CMakelists.txt to integrate with TDAQ
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-588'>FLX-588</a>] -         Requesting too much CMEM in FelixCore should give proper information
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-594'>FLX-594</a>] -         cmake_config should return errors
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-595'>FLX-595</a>] -         python should be included in cvmfs-felix-87-4
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-597'>FLX-597</a>] -         gitlab-ci should use image with cvmfs-felix standalone distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-600'>FLX-600</a>] -         Use docopt for felix-mon
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-601'>FLX-601</a>] -         Retire boost_program_options
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-604'>FLX-604</a>] -         tmpnam not to be used
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-611'>FLX-611</a>] -         Add -q to setup to avoid echo
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-622'>FLX-622</a>] -         Upgrade Highcharts to 6.x
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-632'>FLX-632</a>] -         add more sophisticated internal monitors
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-652'>FLX-652</a>] -         f-tools: -E check for FULL mode, should warn about erroneous operation
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-661'>FLX-661</a>] -         Add flx-monitor to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-669'>FLX-669</a>] -         Make queues in FELIX non-dynamic classes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-672'>FLX-672</a>] -         Optimize (reduce) number of registers for control and monitor
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-677'>FLX-677</a>] -         Add option to fdaq to skip card initialization
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-678'>FLX-678</a>] -         Define FELIX_ROOT in setup script for release
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-679'>FLX-679</a>] -         --elinks option should work even if no emulator is started.
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-680'>FLX-680</a>] -         flx-init should say OR for -T documentation
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-686'>FLX-686</a>] -         Driver 4.x backward compatibility (investigation)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-705'>FLX-705</a>] -         Readout of I2C is only possible on one device of the 712
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-708'>FLX-708</a>] -         Elink Offset to be introduced for 712 and 711 and for multiple cards
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-709'>FLX-709</a>] -         Interrupts should be handled properly
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-710'>FLX-710</a>] -         Set default polling time to 50000
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-711'>FLX-711</a>] -         Warnings in netio of unused variables
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-724'>FLX-724</a>] -         Driver should assign device # in the same order for 712 as for 711
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-725'>FLX-725</a>] -         Busy channel needs to be allocated per card
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-726'>FLX-726</a>] -         API on flxcard to get number of cards (devices)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-727'>FLX-727</a>] -         Change MAX_CARDS to use new API
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-728'>FLX-728</a>] -         Add a --device, -d option to list a set of devices to be used for felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-729'>FLX-729</a>] -         Reader thread should finish with an error if we cannot find the signature in a block
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-730'>FLX-730</a>] -         Remove svn version from code
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-733'>FLX-733</a>] -         buslist and busclient should be able to specify interface
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-734'>FLX-734</a>] -         Link czmq with libuuid
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-739'>FLX-739</a>] -         Polling no longer works, --interrupts should be changed for --polling
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-742'>FLX-742</a>] -         Warning in flx-info
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-744'>FLX-744</a>] -         Verify why we cannot read command line config variables before setting up the statistics
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-747'>FLX-747</a>] -         CheckSIgnature and CheckSeqNumber should have different results
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-748'>FLX-748</a>] -         Add plot to show seqno expected, received and diff
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-749'>FLX-749</a>] -         Remove fel as it is no longer RM 4 compatible
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-755'>FLX-755</a>] -         Scan all cards, get rid of MAX_CARDS, based on configuration
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-756'>FLX-756</a>] -         Drop support in felixcore for FLX_710
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-758'>FLX-758</a>] -         Default cmem memory should be 1 Gbyte per reading thread
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-759'>FLX-759</a>] -         Create automatic detection of SLC6 or CC7 in cmake_config and setup.sh
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-760'>FLX-760</a>] -         Get rid of MAX_THREADS
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-775'>FLX-775</a>] -         Streamline statistics URL with version support
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-777'>FLX-777</a>] -         Upgrade web related packages, bootstrap, mathjs, jquery and highcharts
</li>
</ul>

<h2>        Question
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-424'>FLX-424</a>] -         Take into account max number of DMA channels, on new FW is different
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-467'>FLX-467</a>] -         drivers_rcc: drivers update procedure for developers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-525'>FLX-525</a>] -         set a force flag to use a specific FLX card
</li>
</ul>

<h2>        Suggestion
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-550'>FLX-550</a>] -         software tools for online checking of FULL mode streams
</li>
</ul>

<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-03-10-00</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-713'>FLX-713</a>] -         Missing libXdamage.so.1
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-751'>FLX-751</a>] -         Sequence number gets reset when TTC command is initiated
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-753'>FLX-753</a>] -         Signature (block header) in block not found, lost sync with card
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-160'>FLX-160</a>] -         Port software to Register Map 4.0
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-224'>FLX-224</a>] -         Rename fdaq directory to ftools
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-721'>FLX-721</a>] -         Add netio-cat to distribution
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-661'>FLX-661</a>] -         Add flx-monitor to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-678'>FLX-678</a>] -         Define FELIX_ROOT in setup script for release
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-679'>FLX-679</a>] -         --elinks option should work even if no emulator is started.
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-680'>FLX-680</a>] -         flx-init should say OR for -T documentation
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-686'>FLX-686</a>] -         Driver 4.x backward compatibility (investigation)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-734'>FLX-734</a>] -         Link czmq with libuuid
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-747'>FLX-747</a>] -         CheckSIgnature and CheckSeqNumber should have different results
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-748'>FLX-748</a>] -         Add plot to show seqno expected, received and diff
</li>
</ul>


<h1>Release Notes - ATLAS Front-End Link Exchange - Version felix-03-09-00</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-579'>FLX-579</a>] -         NetIO is stuck looking for pages when event loop is quit
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-589'>FLX-589</a>] -         NetIO Memory Leaks
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-592'>FLX-592</a>] -         NetIO max. buffer pages is hardcoded and does not use the sockcfg module
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-602'>FLX-602</a>] -         Unblock netio::recv() when connection closes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-643'>FLX-643</a>] -         FelixCore crashes with a segfault in felix::core::Statistics::update()
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-142'>FLX-142</a>] -         all software tools with autocompletion
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-446'>FLX-446</a>] -         Use docopt for felixcore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-447'>FLX-447</a>] -         Use docopt for buslist
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-449'>FLX-449</a>] -         Add felix-buslist to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-454'>FLX-454</a>] -         NetIO subscribe sockets need an unsubscribe/disconnect
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-356'>FLX-356</a>] -         Felixcore does not measure throughput for low-latency connections
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-603'>FLX-603</a>] -         Move building of cvmfs-felix into its own module
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-286'>FLX-286</a>] -         FELIXCore: If felixcore started from /afs/... the webdirectory does not seem to work
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-290'>FLX-290</a>] -         Scripts: Remove errors of existing dirs that clone_all.sh gives
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-299'>FLX-299</a>] -         FELIXCore: Run with interrupts
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-372'>FLX-372</a>] -         Executables fail with Segmentation Fault on centos7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-582'>FLX-582</a>] -         Split off felixbus client into separate package
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-588'>FLX-588</a>] -         Requesting too much CMEM in FelixCore should give proper information
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-594'>FLX-594</a>] -         cmake_config should return errors
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-595'>FLX-595</a>] -         python should be included in cvmfs-felix-87-4
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-597'>FLX-597</a>] -         gitlab-ci should use image with cvmfs-felix standalone distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-600'>FLX-600</a>] -         Use docopt for felix-mon
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-601'>FLX-601</a>] -         Retire boost_program_options
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-604'>FLX-604</a>] -         tmpnam not to be used
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-611'>FLX-611</a>] -         Add -q to setup to avoid echo
</li>
</ul>

<h2>        Question
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-424'>FLX-424</a>] -         Take into account max number of DMA channels, on new FW is different
</li>
</ul>
                                                                                                                                <h1>        Release Notes - ATLAS Front-End Link Exchange - Version felix-03-08-01</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-566'>FLX-566</a>] -         libGL and libglapi (and other system libs copied) should not be prelink-ed
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-567'>FLX-567</a>] -         Large messages to E-links have broken encoding
</li>
</ul>

<h1>        Release Notes - ATLAS Front-End Link Exchange - Version felix-03-08-00</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-547'>FLX-547</a>] -         Each call to ZSock precipitates a call to the function zsys_init(), which is not thread-safe!
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-554'>FLX-554</a>] -         Software Data Generator Segfault due to E-link array overrun
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-394'>FLX-394</a>] -         BNL-711 PCIe FPGA remote reconfiguration tool (aka the &quot;Bnl-Bit-Banger&quot;)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-409'>FLX-409</a>] -         flxcard should check TLP and transfer size in DMA calls
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-443'>FLX-443</a>] -         PCIe hot plugging support
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-560'>FLX-560</a>] -         setup.sh does not set LD_LIBRARY_PATH
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-387'>FLX-387</a>] -         Automate programming of FPGAs using vivado
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-536'>FLX-536</a>] -         Move encode_data(..) to felixbase library + Add unit test
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-537'>FLX-537</a>] -         Create : Interface to publish monitoring information
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-462'>FLX-462</a>] -         Discussion on TTC toHost registers
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-514'>FLX-514</a>] -         fdaq does not write all buffered data to disk when buffer &gt; 1GB
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-531'>FLX-531</a>] -         setup.sh can be found on PATH
</li>
</ul>

<h2>        Suggestion
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-550'>FLX-550</a>] -         software tools for online checking of FULL mode streams
</li>
</ul>

<h1>        Release Notes - ATLAS Front-End Link Exchange - Version felix-03-07-00</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-366'>FLX-366</a>] -         Offset in elinks for FLX-711 to be removed when firmware has this feature
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-410'>FLX-410</a>] -         flx-irq-test throws exception
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-497'>FLX-497</a>] -         Earlier versions of our stand-alone CVMFS contain absolute paths
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-512'>FLX-512</a>] -         Pthread necessary on centos7
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-450'>FLX-450</a>] -         femu: a tool to enable only the Emus
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-487'>FLX-487</a>] -         Missing QT lib in gcc62 distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-491'>FLX-491</a>] -         Include TTC tools (binary) and dependencies into distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-516'>FLX-516</a>] -         Inclusion of TTCvi Module needs some driver
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-471'>FLX-471</a>] -         Update system for GITLAB-CI 9.0
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-513'>FLX-513</a>] -         Remove hard 4GB limit in fdaq
</li>
</ul>


<h1>        Release Notes - ATLAS Front-End Link Exchange - Version felix-03-04-02</h1>

<h2>        Bug
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-340'>FLX-340</a>] -         Felixcore data corruption
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-349'>FLX-349</a>] -         felix-client needs a file output
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-408'>FLX-408</a>] -         flix-init -T 2 (Si5345) for VC709 broken
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-412'>FLX-412</a>] -         Wrong mapping for the &quot;flx-info GBT&quot;
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-425'>FLX-425</a>] -         First message of felixcore always on elink 0
</li>
</ul>

<h2>        New Feature
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-151'>FLX-151</a>] -         command line programs version number
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-250'>FLX-250</a>] -         ./flx-config list display for BNL-711
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-251'>FLX-251</a>] -         flx-config list bitfield information
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-253'>FLX-253</a>] -         ./flx-i2c FLX-711 1v5 card model
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-255'>FLX-255</a>] -         ./flx-init -G extensions
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-371'>FLX-371</a>] -         Add TTC channel to Data Generator
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-393'>FLX-393</a>] -         flx-bnl: BNL-711 environmental monitor flx-tool
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-403'>FLX-403</a>] -         new GIT repo for &quot;remote reconfiguration&quot;
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-439'>FLX-439</a>] -         cmake_config should show package is dirty is so
</li>
</ul>

<h2>        Task
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-159'>FLX-159</a>] -         CMAKE migration to use TDAQ
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-202'>FLX-202</a>] -         Driver should be packaged separately fro  distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-249'>FLX-249</a>] -         Central header file for FELIX Header
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-275'>FLX-275</a>] -         Setup gitlab-CI for FELIX
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-296'>FLX-296</a>] -         driver directory moved to test/jos
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-316'>FLX-316</a>] -         Port Pepo from drivers to drivers_rcc
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-323'>FLX-323</a>] -         Add Si5345_40mhz.sh to bin in distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-324'>FLX-324</a>] -         Upgrade to Highcharts 5.0.7
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-328'>FLX-328</a>] -         FELIXCORE: Variable Length Array forbidden in gcc62
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-329'>FLX-329</a>] -         Handle gcc62
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-330'>FLX-330</a>] -         Handle LCG 87
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-333'>FLX-333</a>] -         Warnings in fdaq
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-334'>FLX-334</a>] -         Warnings in fel
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-335'>FLX-335</a>] -         Warnings in elinkconfig
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-336'>FLX-336</a>] -         Warnings in flxcard
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-338'>FLX-338</a>] -         Upgrade datatables to 1.10.13
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-339'>FLX-339</a>] -         Set default compiler flags to &quot;-std=c++11 -Wall -O3 -g -pedantic&quot;
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-341'>FLX-341</a>] -         libGL and libglapi added to lib directory to run on TBED netbooted nodes
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-343'>FLX-343</a>] -         Development with a local copy of LCG 84 o LCG 87 (and up)
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-344'>FLX-344</a>] -         Use links in distributions for copied .so files
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-345'>FLX-345</a>] -         Keyboard driver for X11 missing on netbooted nodes, added to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-346'>FLX-346</a>] -         Added platforms to Qt binary applications
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-350'>FLX-350</a>] -         QT_QPA_PLATFORM_PLUGIN_PATH not set correctly for gcc62 and LCG87
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-375'>FLX-375</a>] -         Add expire_in into gitlab-ci.yml to prevent build up of artifacts
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-383'>FLX-383</a>] -         Upgrade all vm-atlas-felix-ci-01..05 runners to be compatible with gitlab 8.16
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-386'>FLX-386</a>] -         Move cvmfs tar files to user download area
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-389'>FLX-389</a>] -         Upgrade and install gitlab runner to 1.9 on felix1 and felix2 and give proper labels
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-405'>FLX-405</a>] -         Document that zyre (buslist felixcore) needs to have the firewall switched off
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-406'>FLX-406</a>] -         Create felix-nightly for running hardware and software tests
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-440'>FLX-440</a>] -         Update drivers_rcc to 1.0.6
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-441'>FLX-441</a>] -         Add fatcat and felix-mon to distribution
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-442'>FLX-442</a>] -         Add Release Notes from JIRA
</li>
</ul>

<h2>        Improvement
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-154'>FLX-154</a>] -         ./flx-tools Si5324 initialization sequence &quot;errors&quot;
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-309'>FLX-309</a>] -         Epath 0, egroup 3, GBT0 of the GBT emulator connected to the EC path
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-351'>FLX-351</a>] -         /software README.md
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-357'>FLX-357</a>] -         flx-info reports that flx-711 is not supported
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-358'>FLX-358</a>] -         Handle FLX-711 double card interface in FelixCore
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-362'>FLX-362</a>] -         CMem overallocation
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-365'>FLX-365</a>] -         Use atomic variable to start emulators once all threads have started.
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-368'>FLX-368</a>] -         Upgrade external json to latest version
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-369'>FLX-369</a>] -         Add libcurl to external software
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-373'>FLX-373</a>] -         Add dependency of SQLite for felix-mon
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-380'>FLX-380</a>] -         FileReader and DataGenerator in FelixCore should publish correct elinks
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-382'>FLX-382</a>] -         FelixCORE: -b option used for two cases
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-395'>FLX-395</a>] -         command line e-link swapping tool
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-397'>FLX-397</a>] -         List of elinks of emulator should be default to be published with the emulator switched on
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-404'>FLX-404</a>] -         Extend the generation of the coe (for the Emu) and HDL package files (CR default setting) with elinkconfig
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-413'>FLX-413</a>] -         ./&#39;flx-info CDCE to be dropped
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-414'>FLX-414</a>] -         ./flx-info -v change
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-427'>FLX-427</a>] -         ./flx-info -v : CR mode display
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-431'>FLX-431</a>] -         Automatically detect 10 bit alignment in elinkconfig
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-436'>FLX-436</a>] -         New external: SQlite3
</li>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-437'>FLX-437</a>] -         Add trace framework to felixcore
</li>
</ul>

<h2>        Configuration Change
</h2>
<ul>
<li>[<a href='https://its.cern.ch/jira/browse/FLX-352'>FLX-352</a>] -         E-path endianness for CR and GBT Emu
</li>
</ul>
